/*
   Sunday, February 21, 20164:53:43 PM
   User: 
   Server: GEOFFPC2P0\SQLEXPRESS
   Database: SCMDatabase
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.ConnectGroupToSoftware
	(
	ID int NOT NULL,
	SoftwareID int NOT NULL,
	AccessGroup int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.ConnectGroupToSoftware ADD CONSTRAINT
	PK_ConnectGroupToSoftware PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.ConnectGroupToSoftware SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
