<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <!--Just change the connectionString to where ever you have the database and leave the name-->
    <connectionStrings>
        <add name="SCMDatabaseConnectionString"
            connectionString="Data Source=CBRENTEVANSPC\SQLEXPRESS;Initial Catalog=SCMDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>

